
.dashboard {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.dashboard-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #000000CC;
    padding: 20px 30px;
}

.error-flag {
    position: absolute;
    top: 100%;
    left: 100%; 
    background-color: #FF0000; 
    color: white;
    font-size: 0.875rem;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transform: translateX(10px); 
    transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease; 
    width: auto;
    white-space: nowrap;
}

.error-flag.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); 
    transition: opacity 0.3s ease, visibility 0s 0s, transform 0.3s ease;
}

.error-flag::before {
    content: '';
    position: absolute;
    top: 50%; 
    right: 100%; 
    transform: translateY(-50%); 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FF0000; 
}

.profile-menu-container{
    position: absolute;
    top: 100%;
    right: 10%;
    /* width: 320px; */
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transform: translateY(-20px);
    transition: max-height 1.5s ease, opacity 1.5s ease, transform 1.5s ease; 
    z-index: 10;
    box-sizing: border-box;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.profile-menu-container.open-menu{
    position:absolute;
    
    transform: translateY(0); 
    transition: max-height 1.5s ease, opacity 1.5s ease, transform 1.5s ease; 
    visibility: visible;
    /* z-index: 10; */
    width:280px;
    min-height: 350px;
    max-height: fit-content;
    overflow:visible;
    padding: 10px;
    border: 1px solid #6A0DAD;
    border-radius: 24px;
    
    background: white;
    opacity: 1; 

    overflow: visible;

    display: flex;
    flex-direction: column; 
    align-items: center;      
    justify-content: space-around;

    /* font-size: clamp(8px, 2vw, 24px); */
    /* flex-wrap: wrap; */
}

.profile-menu{
    background: white;
    padding: 20px;
    margin: 10px;
    height: auto;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.profile-img-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.profile-img-container > *{
    grid-column: 1;
    grid-row: 1;
    margin-right: 25px;
}

.img-name{
    margin: 8px;
}

.profile-menu-container img{
    border: solid gray;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    /* margin-left: auto; */
}

#edit-profile-img-icon{
    font-size: 25px;
    color: black;
    /* margin: 35px; */
    align-items: center;
}

#edit-profile-img-icon:hover{
    color: #6A0DAD;
    transform: translateY(-1px);
    transition: color 0.3s ease-in-out;
}

#profile-save-icon{
    font-size: 30px;
    color: #00DD21;
    margin: 0px 35px 15px;
    align-items: center;
}

#profile-save-icon:hover{
    color: #00cc008a;
    transform: translateY(-1px);
    transition: color 0.3s ease-in-out;
}

#profile-cancel-icon{
    font-size: 30px;
    color: #FF0000;
    margin: 0px 35px 15px;
    align-items: center;
}

#profile-cancel-icon:hover{
    color: #e00000;
    transform: translateY(-1px);
    transition: color 0.3s ease-in-out;
}

#profile-edit-icon{
    font-size: 25px;
    color: #00DD21;
    margin: 0px 35px 15px;
    align-items: center;
}

#profile-edit-icon:hover{
    color: #00cc008a;
    transform: translateY(-1px);
    transition: color 0.3s ease-in-out;
}

.profile-info{
    position:relative;
    width: 90%;
    border-radius: 20px;
    font-weight: 300;
    /* font-size: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-info-editing{
    position:relative;
    width: 90%;
    border-radius: 20px;
    font-weight: 300;
    /* font-size: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow:hidden;
}


#profile-menu h2{
    font-weight: 500;
    font-size: clamp(23px, 2vw, 24px);
}

.edit-info{
    width: 100%;
    box-sizing: border-box;
}

.edit-info input, .profile-info input{
    position:relative;
    border: none;
    background-color: rgb(235, 235, 235);
    color: black;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    /* margin: 7px 0px 7px; */
    margin-bottom: 15px;
    /* margin: 15px; */
    width: 92%;
    font-weight: 300;
}

.profile-actions-section{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.logo-welcome-section{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: start;
    font-size: 0;
    align-items: center;
    gap: 3%;
}

#dashboard-logo{
    max-width: 100px;
    width: 2.5vw;
    height: auto;
}

#welcome-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.search-section{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.actions-section{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
    gap: 2%;
}

.actions-section button, .actions-section a{
    background-color: transparent;
    color: #000000CC;
    font-size: 1rem;
    display: block;
}

.dashboard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0 30px 0;
    position: relative;
}

.trip-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #6A0DAD;
    border-radius: 20px;
    width: 60%;
    margin-inline: auto;
    padding: 40px;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.trip-list-header, .search-container, .add-trip-btn{
    color: #6A0DAD;
    font-size: 1rem;
    border: 1px solid #6A0DAD;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    z-index: 1;
}

.trip-list-header{
    left: 20%;
    padding: 8px 16px;
    font-weight: bold;
    background-color: #6A0DAD;
    color: white;
}

.search-container{
    right: 25%;
    transition: all 1s;
    height: 42px;
    width: 42px;
    background: white;
    box-sizing: border-box;
    text-align: center;
}

#search-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
    display: none;
    font-size: 1rem;
    padding-inline: 15px;
    opacity: 0;
}

#search-icon{
    box-sizing: border-box;
    padding: 10px;
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #6A0DAD;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-container:hover{
    width: 20%;
}

.search-container:hover #search-input{
    display: block;
    animation: fadeInOpacity 1s ease forwards; 
}

@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.add-trip-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background-color: #6A0DAD;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    right: 20%;
}

.trip-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90px;
    border: 1px solid #6A0DAD;
    border-radius: 25px;
}

.trip-image{
    height: 100%;
    border-radius: 23px;
    margin-right: 25px;
    width: 140px;
}

.trip-details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    gap: 10px;
}

.trip-details #trip-title{
    font-weight: bold;
    font-size: 1.2rem;
}

.trip-details #trip-dates-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 20px;
    font-size: 0.8rem;
}

#trip-item-trash-icon{
    color: red;
    font-size: 25px;
    margin-right: 10px;
}
#trip-item-trash-icon:hover{
    color: rgb(245, 177, 177);
    transition: color 0.3s ease-in-out;
    transform: translateY(-1px);
}

#trip-item-edit-icon{
    color: #02b3d4CC;
    font-size: 25px;
    margin-right: 15px;
}

#trip-item-edit-icon:hover{
    color: #83d2e0cc;
    transform: translateY(-1px);
    transition: color 0.3s ease-in-out;
   
}

.no-trips-message {
    text-align: center;
    font-size: 1rem;
    color: gray;
    margin-top: 20px;
}

.trip-link {
    font-family: Poppins, sans-serif;
    text-decoration: none;
    color: #551A8B;
    font-weight: bold;
}