/* General Page Styling */
.login-page {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.login-main{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Login Container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 0.1px solid #cbbaf3;
    text-align: center;
}

#login-logo{
    width: 300px;
}

.login-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #002a5c;
    font-weight: 600;
}

.login-form-wrapper{
    width: 100%;
}

/* Form Styling */
.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-field {
    display: flex;
    margin-top: 1rem;
}

.login-input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cbbaf3;
    border-radius: 30px;
    font-size: 1rem;
    background-color: #fff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.login-error-container{
    margin-top: 5px;
}

.login-error-message {
    color: #d9534f;
    font-size: 0.875rem;
    margin-bottom: 10px;
}

/* Button Styling */
.login-submit-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #02b3d4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2rem;
}

.welcome-back {
    color: #213547;
}

.login-submit-button:hover {
    background-color: #02b3d4CC;
}

.login-submit-button:disabled {
    background-color: #7a7a7a;
    cursor: not-allowed;
}

.signup-link {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.signup-link a {
    color: #002a5c;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}