
.how-it-works-page {
 
    font-family: Poppins, sans-serif;
  }

  
  
  .how-it-works-header {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .how-it-works-header h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .how-it-works-header p {
    font-size: 1.2em;
    color: #666;
  }
  
  .how-it-works-steps {
    margin: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  .step {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: auto; /* Adjust width as needed */
  }
  
  .step h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .step p {
    font-size: 1em;
    color: #555;
  }