
.profile-security-page {
 
    font-family: Poppins, sans-serif;
  }
  
  .h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .p {
    font-size: 1em;
    color: #555;
  }


  .profile-sidebar a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #575757;
    display: block;
  }
  
  .profile-sidebar a:hover {
    background-color: #D2CBEE;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .outer-container{
    width: 70%; 
    max-width: 800px; 
    /* border: 2px solid #D2CBEE;  */
    border-radius: 15px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-left: 220px;
    margin-bottom: 20px;
    /* position: relative; */
  }

  .main-container{
    position: relative;
    border: 2px solid #D2CBEE;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    color: black;
  }

  #home.main-container {
    padding-top: 150px;
  }

  .main-column {
    flex: 1;
    margin: 0 10px;
    padding: 0px;
  }

  .main-container .profile-picture {
    border-radius: 50%;
    z-index: 5;
    width: 200px;
    height: 200px;
    margin-top: 0px;
    margin-bottom: 25px;
    position: absolute;
    top: -60px;
    left: 50px;
    /* transform: translateX(-35%); */
  }

  .delete-account-account h1 {
    font-size: 1.1em;
    font-weight: bold;
  }

  #name, #email, #age, #place {
    background-color: #D2CBEE;
    margin-left: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 8px;
    max-width: 75%;
  }

  #blue-box {
    background-color: #4D3BBF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .profile-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-right: 100px;

 
  }