/* General Page Styling */
.signup-page{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.sign-up-main{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* Login Container */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 0.1px solid #cbbaf3;
    text-align: center;
}

#sign-up-logo{
    width: 300px;
}

.login-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #002a5c;
    font-weight: 600;
}

.sign-up-form-wrapper{
    width: 100%;
}

/* Form Styling */
.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form-field {
    display: flex;
    margin-top: 1rem;
}

.signup-form .signup-input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cbbaf3;
    border-radius: 30px;
    font-size: 1rem;
    background-color: #fff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}





.signup-error{
    margin-top: 5px;
}

.signup-error-message {
    color: #d9534f;
    font-size: 0.875rem;
    margin-bottom: 10px;
}

/* Button Styling */
.signup-submit-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #02b3d4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2rem;
}

.signup-submit-button:hover {
    background-color: #02b3d4CC;
}

.signup-submit-button:disabled {
    background-color: #7a7a7a;
    cursor: not-allowed;
}

.login-link {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.login-link a {
    color: #002a5c;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}