/* General Page Styling */
.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.another-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

/* Header Styling */
.homepage-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
}

.homepage-logo {
    height: 50px;
}

.homepage-nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.logo-container h1{
    white-space: nowrap;
}

.homepage-nav ul li a {
    color: #0f1dd6;
    text-decoration: none;
    font-weight: 500;
}

.homepage-nav ul li a:hover {
    text-decoration: none;
}

/* Signup Container */
.signup-container {
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 0.1px solid #cbbaf3;
    text-align: center;
}

/* Form Styling */
.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form-field {
    margin-top: 1rem;
    display: flex;
}

.signup-error {
    margin-top: 5px;
}

.signup-input-field {
    width: 100%;
    padding: 0.75rem;
    border: 0.1px solid #cbbaf3;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.error-message {
    visibility: hidden;
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

input:invalid+.error-message {
    visibility: visible;
}

/* Button Styling */
.signup-submit-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #0558b1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1rem;
}

.signup-submit-button:hover {
    background-color: #086bd5;
}

.signup-submit-button:disabled {
    background-color: #7a7a7a;
    cursor: not-allowed;
}

/* Signup Link */
.signup-link {
    margin-top: 1.5rem;
    font-size: 0.875rem;
}

.signup-link a {
    color: #002a5c;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.signup-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #002a5c;
    margin-bottom: 1rem;
}