.trip-details-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
}

.trip-card-tripdetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f4ff;
    border-radius: 8px;
    padding: 16px;
    margin-top: 10px;
    position: relative;
    width: 90%;
    margin: 30px;
    height: auto;
    border: 2px solid #d8baf3;
}

.dropdown-section {
    margin: 10px 0;
    border-bottom: 1px solid #cbbaf3;
    padding: 10px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

/* Align text, arrow, and add button */
.dropdown-header .text {
    flex: 1;
    text-align: left;
    font-family: Poppins, sans-serif;
}

.dropdown-header .arrow {
    font-size: 16px;
    margin-left: 10px;
    /* Space between text and arrow */
    transition: transform 0.3s ease;
}

.dropdown-header .arrow.open {
    transform: rotate(180deg);
}

.dropdown-header .add-button {
    font-size: 24px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 30px;
}

.add-button:hover {
    background-color: none;
}

.dropdown-content {
    padding: 10px;
    font-size: 16px;
    color: #666;
}

.dashboard-i-container {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.dropdown-all {
    width: 100%;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 170px;
    background-color: #5c3b949d;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    white-space: nowrap;
    font-family: Poppins, sans-serif;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.trip-name {
    font-family: Poppins, sans-serif;
}